p#littlemoney1{
  display: none;
}
p#bitmoremoney1{
  display: none;

}
p#decentmoney1{
  display: none;

}
p#lotsofmoney1{
  display: none;

}
p#richaf1{
display: none;
}

#littlemoney2{
  color:orange;
  font-family:fantasy;
}
#bitmoremoney2{
  color:purple;
font-family:fantasy;
}
#decentmoney2{
  color:green;
font-family:fantasy;
}
#lotsofmoney2{
  color:blue;
font-family:fantasy;
}
#richaf2{
color:red;
font-family:fantasy;
}


body{

background-image:url(../img/coolphoto2.JPEG);
  background-repeat: no-repeat;
  background-size: auto;
  text-align: center;
  text-shadow: 1px 1px;

}
h1:hover{
  text-align: center;
  color:red;
  text-shadow: 2px 2px;
  font-family: monospace;



}


h4:hover{
  text-align: center;
  color: purple;
  text-shadow: 1px 1px;
  font-family: monospace;
}
