p#littlemoney1{
  display: none;
}
p#bitmoremoney1{
  display: none;

}
p#decentmoney1{
  display: none;

}
p#lotsofmoney1{
  display: none;

}
p#richaf1{
display: none;
}

#littlemoney2{
  color:orange;
}
#bitmoremoney2{
  color:purple;

}
#decentmoney2{
  color:green;

}
#lotsofmoney2{
  color:blue;

}
#richaf2{
color:red

}


body{

background-image:url(../img/coolphoto2.JPEG);
  background-repeat: no-repeat;
  background-size: auto;
  text-align: center;

}
h1:hover{
  text-align: center;
  color:red;
}


h4:hover{
  text-align: center;
  color: purple;
}
